.profile-container{
    margin-top: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.profile-form {
    background-color: rgb(132,206,235);
    width: 30%;
    height: 50%;
    padding: 24px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 5px 5px 5px #4261ae;
}

.profile-head {
    font-size: 2rem;
}

.profile-input {
    margin: 10px;
    padding: 5px;
    border-radius: 10px;
  
}

.profile-block {
    font-size: 1.5rem;

    /* height: 32px;
    width: 100%;
    font-size: 16px;
    margin: 8px; */
}

.profile-submit-btn {
    margin: 8px;
    border-radius: 5px;
    /* padding: 8px 40%; */
    width: 50%;
    height: 32px;
    font-size: 16px;
    background-color: rgb(57, 55, 55);
    color: white;
}