*{
    margin: 0;
    padding: 0;
}
.myPro-BG{
    display: flex;
    background-color: rgb(231, 231, 231);;
    width: 600px;
    height: 600px;
}
input{
    border: 1px solid #dedede ;
    border-radius:  4px;
    font-size: 16px;
    padding: 10px;
    width: 100%;
    height: 100%;
}