
.navbar-container {
    background-color: rgb(195, 108, 108);
    overflow: hidden;
    display: flex;
    flex-direction: row;
    max-width: 100%;
    height: 40px;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
  }
  
  .navbar-left {
    display: flex;
    flex-direction: row;
  }

  .navbar-logo {
    padding-right: 10px;
  }

  .navbar-left > span{
    padding-right: 10px;
  }

  .navbar-left > a{
    padding-right: 10px;
  }

