
.navbar-container {
    background-color: rgb(195, 108, 108);
    /* overflow: hidden; */
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 40px;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    /* position: fixed; */

  }
  
  .navbar-left {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .navbar-logo {
    padding-right: 10px;
  }

  .navbar-logo > img{
    border-radius: 50%;
    width: 40px;
    
  }
  .navbar-left > span{
    padding-right: 10px;
  }

  .navbar-left > a{
    padding-right: 10px;
  }

  .profile-img > img {
    width: 40px;
    border-radius: 50%;
    height: 40px;
  }

  @media screen and (max-width: 300px) {
    .navbar-logo > img{
        display: none;    
      }

    }