
.add-exercise{
 display: flex;
 flex-direction: column;
 align-items: center;
}
h1 {
  font-weight: 900;
  font-size: 32px;
  margin: 40px;
  text-align: center;
}
.newEx{
display: ;
}
.formEx{
  display: flex;
}
.section-form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 2.5rem;
  margin-right: 30px;
  width: 100%;

}
select{
  background-color: rgb(223, 223, 223);
  padding: 14px ;
  border-radius: 4px;
  border: none;
}
select:focus {
  outline: none;
}
p {
  font-size: 24px;
  font-weight: 600;
}
::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgb(0, 0, 0);
  opacity: 0.5; /* Firefox */
}
.input-action input {
  padding: 14px ;
  border-radius: 4px;
  width: 150px;
  background-color: rgb(233, 233, 233);
}
.input-action input:focus {
  outline: none;
}
.input-action {
  display: flex;
  gap: 2rem;
  flex-direction: column;
}
.input-action input{
  text-align: center;
}

.btn-save {
  margin-top : 20px;
  background-color: rgb(57, 55, 55);
  color: white;
  font-size: 16px;
  border-radius: 5px;
  width: 100px;
  padding: 8px;
  margin-left: 20px;
  transition: 0.8s;
}
.btn-save:hover{
    color: rgb(57, 55, 55);
    background-color: white;
    cursor: pointer;
    transition: 0.8s;
  }
