* {
  margin: 0;
  padding: 0;
}

.register-container {
  margin-top: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.register-head {
    font-size: 2.4rem;
    padding: 8px;
}
.register-name {
  display: flex;
}

.register-name > input {
  display: flex;
  height: 32px;
  width: 100%;
  font-size: 16px;
  border-radius: 5px;
  /* margin: 8px; */
}

.register-form {
  display: flex;
  flex-direction: column;
}

.register-form {
    display: flex;
    border-radius: 10px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(232, 232, 232);
    margin-bottom: 10px;
}

.register-form >input {
    display: flex;
    height: 32px;
    width: 100%;
    font-size: 16px;
    border-radius: 5px;
    margin-top: 10px;
  }

.btn-submit {
  margin: 8px 0;
  border-radius: 5px;
  /* padding: 8px 40%; */
  width: 80%   ;
  height: 32px;
  font-size: 16px;
  background-color: rgb(57, 55, 55);
  color: white;
}
