* {
    margin: 0;
    padding: 0;
}

.register-container {
    margin-top: 10%;
    display: flex;
    padding: 24px;
    border-radius: 10px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(232, 232, 232);
    width: 80%; 
    height: 50%;

}


.register-name input {
    display: flex;
    height: 32px;
    width: 50%;
    font-size: 16px;
    border-radius: 5px;
    margin: 8px;
}


.register-form input {
    height: 32px;
    width: 100%;
    font-size: 16px;
    border-radius: 5px;
    margin: 8px;
}

.register-button button {
    margin: 8px;
    border-radius: 5px;
    /* padding: 8px 40%; */
    width: 100%;
    height: 32px;
    font-size: 16px;
    background-color: rgb(57, 55, 55);
    color: white;
}