* {
    margin: 0;
    padding: 0;
}

.login-container {
    margin-top: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

form {
    background-color: rgb(132,206,235);
    width: 30%;
    height: 50%;
    padding: 24px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 5px 5px 5px #4261ae;
}
 
.login-head {
    font-size: 2.4rem;
    padding: 8px;
}

.center {
    width: 80%;
    display: flex;
    justify-content: center;
}

.form-login input {
    height: 32px;
    width: 100%;
    font-size: 16px;
    border-radius: 5px;
    margin: 8px;
}

.login-button button {
    margin: 8px;
    border-radius: 5px;
    /* padding: 8px 40%; */
    width: 100%;
    height: 32px;
    font-size: 16px;
    background-color: rgb(57, 55, 55);
    color: white;
}