:root{
  font-size: 10px;
  background:  linear-gradient(145deg,  #C1C8E4, #5AB8EB, #84CEEB, #5580E9, rgb(136,96,208));
  background-repeat: no-repeat;
  background-origin: content-box;
  background-attachment: fixed;
  background-size: cover;


}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
