.add-exercise-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(173, 172, 172);
    max-width: 275px;
    width: 100%;
    height: 233px;
    border-radius: 12px;
    margin: 10px;
    box-shadow: 0px 0px 16px 7px rgba(0, 0, 0, 0.1);
    transition: 0.3s;
    cursor: pointer;
  }
  .circle {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(207, 207, 207);
    width: 105px;
    height: 105px;
    border-radius: 50%;
    border: 6px solid rgb(156, 156, 156);
    box-shadow: 0px 0px 16px 7px rgba(0, 0, 0, 0.1);
  }
  .circle :hover {
    transition: 0.3s;
    transform: scale(1.04);
  }
  .circle h2 {
    font-size: 100px;
  }
  .add-exercise-btn:hover {
    transition: 0.3s;
    transform: scale(1.04);
  }