.activity-sum h1 {
  font-weight: 900;
  font-size: 32px;
  margin: 40px;
  text-align: start;
}
.activity-times{
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  margin: 40px;
 justify-content: center;
}

